/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.dir {
  background-color: lightseagreen;
  padding: 10px;
  flex: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
}
.linkText {
  color: whitesmoke;
  font-size: 167%;
  text-decoration-line: none;
}
/* body {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
  padding: 10px;
  width: 100vw;
  background-color: whitesmoke;
} */
.robot {
  padding: 20px;
  flex: 20%;
}
.allRobots .linkText {
  color: black;
  text-decoration-line: none;
}
.allRobots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
}
.allRobots img {
  padding-top: 15px;
  height: 300px;
  width: 300px;
}
.projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project {
  flex: 30%;
  padding: 30px;
}
.project h2 {
  text-align: center;
}
.project h4 {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

main {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  background-color: lightseagreen;
}
